
        /* Estilos CSS para dar formato a la página */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f9f7; /* Verde claro para el fondo */
        }
        header {
            background-color: #3d6b52; /* Verde oscuro para el encabezado */
            color: #fff;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        nav ul {
            list-style: none;
            padding: 0;
            text-align: center;
            background-color: #507f67; /* Verde medio para la barra de navegación */
            margin: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        .logo img {
            width: 80px; /* Tamaño del logo */
            height: auto;
        }
        .secondary-logo {
            margin-right: 20px; /* Espacio entre el logo y los enlaces */
        }
        .links {
            display: flex;
            justify-content: center;
            background-color: #3d6b52; /* Verde oscuro para el fondo de los enlaces */
            padding: 10px 0; /* Espaciado interno */
        }
        .links a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px; /* Espacio entre los enlaces */
        }
        section {
            padding: 20px;
            margin: 20px;
            background-color: #e4f0e8; /* Verde claro para las secciones */
            border-radius: 5px;
        }
        footer {
            background-color: #3d6b52; /* Verde oscuro para el pie de página */
            color: #fff;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
  
